NET clk PERIOD=20.8ns;

NET clk   LOC=P50;

NET ra1   LOC=P39;
NET rc1   LOC=P70;
NET rc3   LOC=P64;

NET rb<7> LOC=P65;
NET rb<6> LOC=P62;
NET rb<5> LOC=P61;
NET rb<4> LOC=P46;
NET rb<3> LOC=P45;
NET rb<2> LOC=P44;
NET rb<1> LOC=P43;
NET rb<0> LOC=P48;

NET rx    LOC=P99;
NET tx    LOC=P97;

NET nss   LOC=P94;
NET sck   LOC=P92;
NET sdi   LOC=P17;
NET sdo   LOC=P21;

NET scl   LOC=P11;
NET sda   LOC=P14;

#NET cts   LOC=P143;
#NET rts   LOC=P131;
#NET rxd   LOC=P133;
#NET txd   LOC=P137;
