NET clk PERIOD=20.8ns;
NET clkfx PERIOD=3.2ns;

NET clk   LOC=P50;

NET ra1   LOC=P39;
NET rc1   LOC=P70;
NET rc3   LOC=P64;

NET rb<7> LOC=P65;
NET rb<6> LOC=P62;
NET rb<5> LOC=P61;
NET rb<4> LOC=P46;
NET rb<3> LOC=P45;
NET rb<2> LOC=P44;
NET rb<1> LOC=P43;
NET rb<0> LOC=P48;

NET but LOC=P32;

NET data<15> LOC=P26;
NET data<14> LOC=P23;
NET data<13> LOC=P21;
NET data<12> LOC=P17;
NET data<11> LOC=P14;
NET data<10> LOC=P11;
NET data<9>  LOC=P7;
NET data<8>  LOC=P5;
NET data<7>  LOC=P104;
NET data<6>  LOC=P101;
NET data<5>  LOC=P99;
NET data<4>  LOC=P97;
NET data<3>  LOC=P94;
NET data<2>  LOC=P92;
NET data<1>  LOC=P87;
NET data<0>  LOC=P84;
